#navbar {
    background: #ddd;
    clear: both;
    width: 100%;
    padding: 0.5em;
    input {
        padding: 0.5em;
        font-size: 1em;
    }
    button {
        background: #7F003C;
        padding: 0.5em;
        font-size: 1em;
        color: #fff;
        border: none;
        margin-top: 0.5em;
    }
}

#search-result {
    display: none;
    padding: 0.5em;
}